<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.common.mark.job_summary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.TextViewTestUI"></activity>
        <activity android:name=".ui.EditTextTestUI"></activity>
        <activity android:name=".ui.ImageButtonTestUI"></activity>
        <activity android:name=".ui.RadioButtonTestUI"></activity>
        <activity android:name=".ui.CheckBoxTestUI"></activity>
        <activity android:name=".ui.ProgressBarTestUI"></activity>
        <activity android:name=".ui.ImageViewTestUI"></activity>
        <activity android:name=".ui.DialogTestUI"></activity>
        <activity android:name=".ui.XMLTestUI"></activity>
        <activity android:name=".ui.HttpURLConnectionTestUI"></activity>
        <activity android:name=".ui.VolleyTestUI"></activity>
        <activity android:name=".ui.OkhttpTestUI"></activity>
        <activity android:name=".ui.RetrofitTestUI"></activity>

        <activity android:name=".ui.IntentTestUI">
            <intent-filter>

                <!-- 自定义的动作 -->
                <action android:name="net.mark.cn"/>
                <!-- 自定义的scheme和host -->
                <data
                    android:host="www.baidu.com"
                    android:path="/sms"
                    android:scheme="mark"/>
                <!-- 自定义的类型 -->
                <data android:mimeType="sms/send"/>
                <!-- 附加信息 -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ServiceTestUI"></activity>
        <activity android:name=".ui.RemoteServiceUI"></activity>
        <activity android:name=".ui.BroadcastReceiverUI"></activity>
        <activity android:name=".ui.ContentProviderUI"></activity>
        <activity android:name=".ui.CostomView01UI"></activity>
        <activity android:name=".ui.JsonTestUI"></activity>

        <service android:name=".service.LifeCycleService"></service>
        <service
            android:name=".service.RemoteService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.remote.RemoteService"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.TestBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TEST_BROADCAST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.BankInfoProvider"
            android:authorities="com.common.mark.job_summary">

        </provider>


    </application>

</manifest>